/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BLOG START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/
		.sticky{
			z-index: 99;
			/*background-color: #F6F6F6;*/
			/* background: rgb(249,249,249); */
	        background: -moz-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(242,242,242,1) 50%, rgba(236,236,236,1) 100%);
	        /* background: -webkit-linear-gradient(left, rgba(249,249,249,1) 0%,rgba(242,242,242,1) 50%,rgba(236,236,236,1) 100%); */
	        background: linear-gradient(to right, rgba(249,249,249,1) 0%,rgba(242,242,242,1) 50%,rgba(236,236,236,1) 100%);
	        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=1 );
		}
		.box3{
			padding: 11px 103px 37px 103px;
		}
			.product_to_comparison_link{
				font-size: 14px;
				line-height: 20px;
				margin-left: -30px;
				color: #0073B9;
				text-decoration: none;
				border-bottom: 1px solid #d9ecf7;
				position: relative;
				display: inline-block;
			}
				.product_to_comparison_link:hover{
					border-bottom: 1px solid transparent;
				}
				.product_to_comparison_link:before{
					position: absolute;
					content: "";
					background: url(../images/compare_icon2.png) 0 50% no-repeat;
					width: 19px;
					height: 19px;
					top: 0;
					left: -27px;
				}
				.mt40{
					margin-top: 40px;
				}
				.mb41{
					margin-bottom: 41px;
				}
				.box3.pt53{
					padding-top: 53px;
				}
				.indent_1{
					padding-right: 54px;
					padding-bottom: 40px;
				}
				.blue_color2{
					color: #0078C1;
				}

				.blog_container_lists{
					
				}
					.blog_lists{
						margin-bottom: 33px;
					}
					.blog_lists:last-child{
						margin-bottom: 0;
					}
						.blog_lists_link{
							display: block;
							position: relative;
							
						}
							.blog_lists_link img{
								width: 100%;
								height: auto;
							}
							.blog_lists_link:hover img{
								opacity: 0.85;
							}
							.blog_img_overlay{
								position: absolute;
								bottom: 0;
								right: 0;
								left: 0;
								width: 100%;
								min-height: 131px;
								padding: 25px 52px 10px 52px;
								background: -moz-linear-gradient(left,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%); /* FF3.6-15 */
								background: -webkit-linear-gradient(left,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
								background: linear-gradient(to right,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#40000000',GradientType=1 ); /* IE6-9 */
							}
								.blog_img_date{
									font-size: 13px;
									line-height: 20px;		
									color: #FFF;
								}
								.blog_img_name{
									font-size: 21px;
									line-height: 28px;
									color: #FFF;	
									display: inline-block;
								}

				.box3 .pagination_box{
					padding-top: 31px;
				} 
					.box3 .products_box1{
						padding: 0;
					}
						.box3 .pagination_lk_prev{
							
						}
						.box3 .pagination_lk_next{
							
						}
						.box3 .pagination_list{
							padding: 3px 0; 
						}
							.box3 .pagination_list_item{
								
							}
								.box3 .pagination_list_link{
									
								}

				.blogpage_img{
					
				}
					.blogpage_img img{
						width: 100%;
						height: auto;
					}
						.blogpage_img .blog_img_overlay{
							min-height: 106px;
							padding: 27px 50px 0 103px;
						}
							.blogpage_img .blog_img_name{
								font-size: 44px;
								font-weight: 700;
								line-height: 50px;
							}
							.product_to_comparison_link[data-img="blogpage1"]{
								margin-left: 0;
								color: #FFF;
								top: 12px;
								left: 71px;
							}
							.product_to_comparison_link[data-img="blogpage1"]:hover{
								border-bottom: none;
							}
							.product_to_comparison_link[data-img="blogpage1"]:before{
								background: url(../images/compare_icon3.png) 0 50% no-repeat;
							}
							.sovet_link{
								color: #FFF;
								margin-left: 77px;
								font-size: 16px;
								line-height: 20px;
							}
							.sovet_link:hover{
								color: #FFF;
								text-decoration: none;
							}
							.title6{
								font-size: 20px;
								font-weight: 500;
								line-height: 25px;
								color: #000;
							}

					.video_gide{
						margin-bottom: 90px;
					}
						.video_box{
							overflow: hidden;
							position: relative;
							cursor: pointer;
							width: 944px;
							height: 514px;
							max-width: 100%;
						}
							.video_img{
								width: 100%;
								height: auto;
							}
							.video_img.img_hov{
								visibility: hidden;
								opacity: 0;
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								z-index: 1;
							}
							.video_box iframe{
								position: absolute;
								z-index: 0;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								width: 100%;
								height: 100%;
								opacity: 0;
								visibility: hidden;
								max-width: 100%;
							}
							.video_box:after{
								content: "";
								background: url(../images/video_play-icon.png) 0 0 no-repeat;
								height: 107px;
								width: 93px;
								display: inline-block;
								position: absolute;
								top: 50%;
								left: 50%;
								-webkit-transform: translateX(-50%) translateY(-50%);
								   -moz-transform: translateX(-50%) translateY(-50%);
								    -ms-transform: translateX(-50%) translateY(-50%);
								     -o-transform: translateX(-50%) translateY(-50%);
								        transform: translateX(-50%) translateY(-50%);
							}
							.video_box:hover .video_img{
								visibility: hidden;
								opacity: 0;
							}
							.video_box:hover .video_img.img_hov{
								visibility: visible;
								opacity: 1;
							}
							.video_box:hover:after{
								background: url(../images/video_play-icon_hover.png) 0 0 no-repeat;
								z-index: 8;
							}
							.video_box.clicked iframe{
								visibility: visible;
								opacity: 1;
								z-index: 99;
							}
							.video_box.clicked .video_img,
							.video_box.clicked:after{
								visibility: hidden;
								opacity: 0;
							}
							.video_box.clicked:after{
								background: none;
								display: none;
							}


		/*[class*="active_"] .sert_item{
			-webkit-transition: -webkit-transform 1s ease;
					transition: 		transform 1s ease;
		}
		.scale_carousel.owl-carousel .active_0.active{
			width: 550px !important;
		}
		.scale_carousel.owl-carousel .active_1.active,
		.scale_carousel.owl-carousel .active_2.active{
			width: 270px !important;
		}
		.scale_carousel.owl-carousel .active_1 .sert_item{
			-webkit-transform: scale(.9) translate3d(0, 0, 0) !important;
					transform: scale(.9) translate3d(0, 0, 0) !important;
		}

		.scale_carousel.owl-carousel .active_2 .sert_item{
			-webkit-transform: scale(.7) translate3d(0, 0, 0) !important;
					transform: scale(.7) translate3d(0, 0, 0) !important;
		}*/

		.scale_carousel.owl-carousel{
			position: relative;
			display: block;
			overflow: initial;
		}
		.scale_carousel.owl-carousel:after{
			position: absolute;
			right: -10px;
			top: 0;
			width: 162px;
			height: 100%;
			background: url(../images/shadow_carousel.png) 0 0 repeat-y;
			content: "";
		}
		.scale_carousel.owl-carousel img{
			max-width: 100%;
			height: auto;
		}
			.scale_carousel .owl-controls{
				position: absolute;
				width: 144px;
				height: 20px;
				top: -70px;
				right: 50px;
			}
			.scale_carousel.owl-carousel .owl-nav div{
				bottom: 0;
				position: absolute;
			}
				.scale_carousel.owl-carousel .owl-nav .owl-prev{
					width: 16px !important;
					height: 20px !important;
					opacity: 1;
					left: 0;
					background: url(../images/arrow_scale.png) 0 0 no-repeat !important;
					-webkit-transform: rotate(180deg);
					   -moz-transform: rotate(180deg);
					    -ms-transform: rotate(180deg);
					     -o-transform: rotate(180deg);
					        transform: rotate(180deg);
				}
				.scale_carousel.owl-carousel .owl-nav .owl-prev:hover{
					background-position: 0px bottom !important;
				}
				.scale_carousel.owl-carousel .owl-nav .owl-next{
					width: 16px !important;
					height: 20px !important;
					opacity: 1;
					right: 0;
					background: url(../images/arrow_scale.png) 0 0 no-repeat !important;
				}
				.scale_carousel.owl-carousel .owl-nav .owl-next:hover{
					background-position: 0px bottom !important;
				}
				.scale_carousel.owl-carousel .owl-dots .owl-dot{
					border: 2px solid #83c3e7 !important;
					background-color: transparent !important;
					width: 9px;
					height: 9px;
					-webkit-border-radius: 50%;
					        border-radius: 50%;
					display: inline-block;
					margin: 0 4.5px;
				}
				.scale_carousel.owl-carousel .owl-dots .owl-dot:hover,
				.scale_carousel.owl-carousel .owl-dots .owl-dot.active{
					border-color: transparent !important;
					height: 11px;
					width: 11px;
					background: rgb(247,73,19); /* Old browsers */
					background: -moz-linear-gradient(left,  rgba(247,73,19,1) 0%, rgba(250,102,24,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(left,  rgba(247,73,19,1) 0%,rgba(250,102,24,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to right,  rgba(247,73,19,1) 0%,rgba(250,102,24,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f74913', endColorstr='#fa6618',GradientType=1 ); /* IE6-9 */
					margin-top: -1px;
				}
				.scale_carousel.owl-carousel .owl-dots{
					position: static;
					text-align: center;
        			height: 20px;
        			padding: 6px 0;
				}
					.scale_carousel.owl-carousel .owl-dot{
						
					}
				.scale_carousel.owl-carousel .stripe_left, 
				.scale_carousel.owl-carousel .stripe_right{
					display: none;
				}
				.scale_carousel.owl-carousel .sert_item{
					margin: 0;
				}

				.scale_fancy_carousel .fancybox-image{
					width: auto;
					height: auto;
					max-height: initial;
					max-width: initial;
					display: inline-block;
				}
				.scale_fancy_carousel .fancybox-inner{
					width: auto !important;
					height: auto !important;
					text-align: center;
				}


.rating_stars{
	margin-top: -30px;
	margin-bottom: 6px;
}
.rating_stars div {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 1.5px;
    background: url(../images/rating_star.png) -26px 0 no-repeat;
}
.rating_stars div.star-on-png {
    background-position: 0 0;
}

.main_left_inner{
	padding-bottom: 44px;
}
/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BLOG END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/
@media only screen and (max-width: 1500px){
	.video_box{
		height: 473px;
	}
}
@media only screen and (max-width: 1400px){
	.video_box{
		height: 412px;
	}
}
@media only screen and (max-width: 1300px){
	.sovet_link{
		margin-left: 40px;
	}
	.video_box{
		height: 390px;
	}
}
@media only screen and (max-width: 1240px){
	.box3{
		padding: 11px 60px 37px 60px;
	}
	.indent_1{
		padding-right: 0;
	}
	.blogpage_img .blog_img_overlay{
		padding: 27px 50px 0 60px;
	}
	.product_to_comparison_link{
		margin-left: 27px;
	}
}

@media only screen and (max-width: 1150px){
	.video_box,
	.video_box iframe{
		height: 382px;
	}
}