/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1536px) {
	.menu_link,
	.main_left_inner{
		padding-left: 20px;
	}
	.product_to_comparison_link{
		margin-left: 27px;
	}
	.content_box,
	.box3{
		padding-left: 50px;
		padding-right: 50px;
	}
	.basket_box .title1,
	.product_box{
		padding-left: 50px;
	}
	.blogpage_img .blog_img_overlay{
		padding-left: 50px;
		padding-right: 0;
	}
	.range_box .range_item:last-child,
	.basket_box .resp-tabs-list{
		margin-left: 50px;
		margin-top: 0;
	}
	
	.main_poduct_img{
		text-align: center;
	}
}
@media only screen and (max-width: 1482px) {
	.range_item,
	.range_box .range_item:last-child{
		margin-left: 25px ;
	}
	.range_box{
		width: 100%;
	}
}
@media only screen and (max-width: 1366px) {
	.total_cost_box {
        width: 55%;
	}
}
@media only screen and (max-width: 1356px) {
	.range_box .range_item:last-child{
		margin-left: 0;
		margin-top: 28px;
	}
	.range_box .range_item:nth-child(3){
		margin-right: 25px;
	}
}
@media only screen and (max-width: 1266px) {
 /*body{min-width:1266px;}*/
	.header_login_btn:before{
		left: 30px;
	}
}
@media only screen and (max-width: 1260px) {
	.range_item:nth-child(3){
		/*margin-left: 0;
		margin-top: 28px;*/
		margin-right: 50px;
	}
	.product_btn{
		padding: 9px 34px;
	}
}
@media only screen and (max-width: 1250px) {
	.home_clients.box1,
	.home_partners.box1{
		padding-left: 30px;
	}
}
@media only screen and (max-width: 1214px) {
	.total_cost_box {
        width: 60%;
	}
	.home_partners_box{
		width: 29%;
		height: auto;
	}
}
@media only screen and (max-width: 1179px) {
	.content_inner .catalog_inner .product_item{
		width: 33.3%;
	}
}
@media only screen and (max-width: 1145px) {
	.product_to_comparison_link{
		margin-left: 27px;
	}
	.product_box{
		padding-left: 47px;
	}
	.available span{
		padding: 7px 30px 10px;
	}
	 .product_title.indent_2 br{
	    display: none;
	  }
}
@media only screen and (max-width: 1112px) {
	.total_cost_box {
        width: 65%;
	}

	.comparison_box_left{
		width: 215px;
	}
	.comparison_box_left .title2{
		font-size: 30px;
	}
	.comparison_box_left_text{
		font-size: 16px;
	}
	.detail_data_table{
		margin-top: 92px;
	}	
	.header_login_btn{
		padding-left: 10px;
	}
}
@media only screen and (max-width: 1097px){
	.product_title, .lg_title{
		font-size: 40px;
	}
	.range_box .range_item:nth-child(3){
		margin-left: 0;
		margin-top: 28px;
	}
}
@media only screen and (max-width: 1096px){
	.main_left{
		width: 317px !important;
	}
	header .main_right{
		padding-left: 0;
        width: calc(100% - 317px);
	}
	.main_right {
		width: 100%;
	}
	.fancybox-prev {
        /*left: -60px;*/
	}
	.fancybox-next {
        /*right: -60px;*/
	}
	.scale_carousel .owl-controls{
		right: 0;
	}
	.sertificate_licenze .title1{
		padding-right: 150px;
	}

}
@media only screen and (max-width: 900px) {
	.main_poduct_img{
		width: 50%;
	}
	.basket_box.resp_card .resp-tabs-list li{
		padding: 13px 30px;
	}
	header .main_left{
		padding-top: 34px;
	}
	.main_left_inner{
		padding-bottom: 34px;
	}
}
@media only screen and (max-width: 767px) {
 /*body{min-width:420px;}*/
}

@media only screen and (max-width: 479px) {
 /*body{min-width:300px;}*/
}