@import "../css/reset.css";
@import "../css/jquery.formstyler.css";
@import "../css/jquery.jscrollpane.css";
@import "../css/alex.css";
@import "../css/style2.css";
@import "../css/style_popup.css";
@import "../css/jquery.fancybox-thumbs.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Sans:400,700,400italic|Ubuntu:400,500,700&subset=latin,cyrillic);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block;}mark,rp,rt,ruby,summary,time{display:inline;}
/* Global properties ======================================================== */
html {width:100%;}

body {
  font-family: 'PT Sans', sans-serif;
  font-size:15px;
  line-height:1.6;
  color:#000;
  min-width: 1096px;
  background: #fff;
  -webkit-text-size-adjust: none;
}

button{
  cursor: pointer;
  outline: none;
}
input, textarea, button{
  font-family: 'PT Sans', sans-serif;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main{
  min-width: 1096px;
  max-width: 1536px;
  margin: 0 auto;
  /*border-right: 1px solid #eee;*/
}
.main{
  position: relative;
}
.main:after{
  content: "";
  position: absolute;
  right: 0px;
  top: 0;
  bottom: -10px;
  border-right: 1px solid #eee;
}
/*#content .main:after,*/
footer .main:after{
  border-right: none;
}

  .main_left{
    position: relative;
    width: 25.10% !important;
    background: rgb(249,249,249); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(249,249,249,1) 0%, rgba(242,242,242,1) 50%, rgba(236,236,236,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 50%,rgba(236,236,236,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 50%,rgba(236,236,236,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=1 ); /* IE6-9 */
  }
    #content .main_left:after{
      content: "";
      z-index: 1;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: auto;
      /*height: 100%;*/
      /*background: #f6f6f6;*/
      background: rgb(249,249,249); 
      background: -moz-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(242,242,242,1) 50%, rgba(236,236,236,1) 100%);
       background: -webkit-linear-gradient(left, rgba(249,249,249,1) 0%,rgba(242,242,242,1) 50%,rgba(236,236,236,1) 100%); 
      background: linear-gradient(to right, rgba(249,249,249,1) 0%,rgba(242,242,242,1) 50%,rgba(236,236,236,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=1 );
    }
    .main_left_inner{
      padding: 0 31px 44px 50px;
    }


  .main_right{
    width: 74.9%;
  }


/*----------------------> Links And buttons <------------------*/
a {
  color: #006db9;
  outline:none;
  text-decoration:;
  cursor:pointer;
}
a:hover{
  color: #008def;
  text-decoration:none;
}

.btn1{
  display:inline-block;
  padding: 10px 45px 10px;
  margin: 0 0 0;
  color: #f84701;
  font-size: 17px;
  font-weight: 500;
  background-color: #eee;
  cursor: pointer;
  border: none;
 }

.btn1:hover{
  color: #ff7109;
}

.btn2{
  background-color: #ff6000;
  display: inline-block;
  padding: 10px 20px 12px;
  min-width: 210px;
  text-align: center;
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  border: none;
}
  .btn2:hover{
    background: #ff4a00; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff4a00 0%, #ff9800 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ff4a00 0%,#ff9800 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ff4a00 0%,#ff9800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4a00', endColorstr='#ff9800',GradientType=1 ); /* IE6-9 */
  }

.show_all_btn{
  border: 1px solid rgba(31, 145, 216, 0.2);
  padding: 10px 20px 9px;
  display: inline-block;
  min-width: 340px;
  color: #0078c5;
  font-size: 15px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
}
  .show_all_btn:before{
    width: 38px;
    height: 27px;
    background: url(../images/setting_icon.png) 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 5px 0 0;
    content: "";
  }
  .show_all_btn:hover:before{
    background: url(../images/setting_icon_hover.png) 0 0 no-repeat;
  }

  .show_all_btn:hover{
    background: #fcfcfc;
    border: 1px solid #299fe8;
  } 

.btn:hover{
  background:;
  color:#000;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase;}
.f_left {float:left;}
.f_right {float:right;}
.al_left{text-align: left;}
.al_right {text-align:right;}
.al_center {text-align:center;}

.it{font-style:italic;}
.let{letter-spacing:-1px;}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.full_w_img{
  width: 100%;
  height: auto;
}

.w_100{
  width: 100%;
}

.val_mid{vertical-align: middle;}
.val_bas{vertical-align: baseline;}

.os_font{
  font-family: 'Open Sans', sans-serif;
}

.ubuntu_font{
  font-family: 'Ubuntu', sans-serif;
}

.bold{
  font-weight: 700;
}
.middle{
  font-weight: 500;
}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/


.orng_color{
  color: #ff3f11;
}
.orng2_color{
  color: #ff5300;
}
.gray_color{
  color: #9c9c9c;
}

.blue_gr{
  background: #046cb4; /* Old browsers */
  background: -moz-linear-gradient(left,  #046cb4 0%, #0b80c0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #046cb4 0%,#0b80c0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #046cb4 0%,#0b80c0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#046cb4', endColorstr='#0b80c0',GradientType=1 ); /* IE6-9 */
}

.white_color{
  color: #fff;
}

.blue_color{
  color: #0062ba;
}
.bg_white{
  background-color: #fff;
}
.bg_gray1_color{
  background-color: #f5f5f5;
}


/*======================> Header <======================*/

header {}
  .logo{
    padding-bottom: 41px;
  }
    .logo a{
      display:block;
      width:212px;
      height:81px;
      background:url(../images/logo.png) 0 0 no-repeat;
      text-decoration:none;
      text-indent:-9999px;
    }
  
  .header_info_wrap{
    height: 85px;
  }
  .header_info{
    width: 100%;
    margin-bottom: 14px;
  }
    .header_info>div{
      vertical-align: middle;
      border-left: 1px solid #e8e8e8;
    }

    .header_info>div:first-child{
      border: none;
    }

  .header_work_time{
    font-size: 13px;
    padding: 0px 0 4px 91px;
    width: 33.3%;
    /*width: 36.2%;*/
    background: url(../images/phone_icon.png) 41px 12px no-repeat;
  }
    .phone_item span,
    .phone_item:after{
      color: #9e9e9e;
    }
    
    .phone_item{
      display: inline-block;
      padding-right: 10px;
      margin-right: 5px;
      letter-spacing: -0.5px;
    }
      .header_work_time .phone_item:first-child:after{
        display: inline-block;
        position: absolute;
        margin: 0 0 0 7px;
        content: "/";
      }


  .header_address{
    background: url(../images/location_icon.png) 29px 19px no-repeat;
    padding: 0px 0px 0 81px;
    line-height: 19px;
    /*width: 28.1%;*/
    width: 33.3%;
  }

  .header_links{
    /*width: 35.7%;*/
    width: 33.3%;
    padding: 0px 0 7px 32px;
  }
    .header_links a{
      display: inline-block;
      margin: 5px 20px 5px 0;
    }


  .header_search{
    background: #0078c3; /* Old browsers */
    background: -moz-linear-gradient(left,  #0078c3 0%, #0883ce 50%, #32a6ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #0078c3 0%,#0883ce 50%,#32a6ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #0078c3 0%,#0883ce 50%,#32a6ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0078c3', endColorstr='#32a6ee',GradientType=1 ); /* IE6-9 */
    height: 54px;
    box-shadow: inset 0 0 76px rgba(255, 255, 253, 0.3);
    width: 44.44%;
  }
    .header_searh_field{
      background: none;
      border: none;
      color: #fff;
      font-size: 18px;
      width: 82%;
      display: inline-block;
      vertical-align: middle;
      padding: 14px 20px 16px 48px;
    }
    input.header_searh_field::-webkit-input-placeholder{
      transition: all 0.5s ease;
      color: #fff !important;
    }
    input.header_searh_field::-moz-placeholder{
        transition: all 0.5s ease;
        color: #fff !important;
    }
    input.header_searh_field:-moz-placeholder{
        transition: all 0.5s ease;
        color: #fff !important;
    }
    input.header_searh_field:-ms-input-placeholder{
        transition: all 0.5s ease;
        color: #fff !important;
    }

    input.header_searh_field:hover::-webkit-input-placeholder {
        transition: all 0.5s ease;
        color: #fff !important;
    }
    input.header_searh_field:hover::-moz-placeholder{
        transition: all 0.5s ease;
        color: #fff !important;
    }
    input.header_searh_field:hover:-moz-placeholder{
        transition: all 0.5s ease;
        color: #fff !important;
    }
    input.header_searh_field:hover:-ms-input-placeholder{
        transition: all 0.5s ease;
        color: #fff !important;
    }

    input.header_searh_field:focus::-webkit-input-placeholder {
        transition: all 0.5s ease;
        color: #fff !important;
    }
    input.header_searh_field:focus::-moz-placeholder{
        transition: all 0.5s ease;
        color: #fff !important;
    }
    input.header_searh_field:focus:-moz-placeholder{
        transition: all 0.5s ease;
        color: #fff !important;
    }
    input.header_searh_field:focus:-ms-input-placeholder{
        transition: all 0.5s ease;
        color: #fff !important;
    }
    /*===  input end    ===*/

    .header_search_btn{
      cursor: pointer;
      /*width: 92px;*/
      width: calc(100% - 82%);
      margin-left: -4px;
      height: 53px;
      display: inline-block;
      border: none;
      vertical-align: middle;
      background: url(../images/search_icon.png) 50% 50% no-repeat;
    }
    .header_search_btn:hover{
      background-color: #46B1F5;
    }

    .header_search:hover,
    .header_search.focused_parent{
      box-shadow: none;
      background: #1594e4; /* Old browsers */
      background: -moz-linear-gradient(left,  #1594e4 0%, #1b97e6 50%, #35b2ff 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #1594e4 0%,#1b97e6 50%,#35b2ff 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #1594e4 0%,#1b97e6 50%,#35b2ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1594e4', endColorstr='#35b2ff',GradientType=1 ); /* IE6-9 */
    }

    
    .header_searh_field::-webkit-input-placeholder {color:#fff;}
    .header_searh_field::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
    .header_searh_field:-moz-placeholder           {color:#fff;}/* Firefox 18- */
    .header_searh_field:-ms-input-placeholder      {color:#fff;}

  .header_cart{
    background: #ff5a00; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff5a00 0%, #ff9000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ff5a00 0%,#ff9000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ff5a00 0%,#ff9000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff9000',GradientType=1 ); /* IE6-9 */
    width: 33.44%;
    height: 54px;
    font-size: 15px;
    /*text-align: center;*/
    color: #fff;
    padding: 10px 20px 0 34px;
    text-decoration: none;
  }
    .header_cart:hover{
      color: #fff;
      background: #ff6000; /* Old browsers */
      background: -moz-linear-gradient(left,  #ff6000 0%, #ffb200 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #ff6000 0%,#ffb200 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #ff6000 0%,#ffb200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6000', endColorstr='#ffb200',GradientType=1 ); /* IE6-9 */
    }
    .header_cart span{
      display: inline-block;
    }
    .header_cart span:first-child{
      padding: 5.5px 0 5.5px 45px;
      background: url(../images/cart_icon.png) 0 50% no-repeat;
    }
    .header_cart.add_card_header{
      
    } 
      .header_cart.add_card_header span:first-child{
        border-right: 1px solid #FF9740;
        padding-right: 13px;
      }
      .header_cart.add_card_header span:last-child{
        padding: 5.5px 0 5.5px 15px;
        margin-left: -4px;
      }

  .header_login_btn{
    width: 22.12%;
    background-color: #e8e8e8;
    line-height: 54px;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    position: relative;
  }
    .header_login_btn:hover{
      color: #ff7109;
      background-color: #f0f0f0;
    }
    .header_login_btn:before{
      content: "";
      width: 29px;
      height: 30px;
      position: absolute;
      left: 44px;
      top: 50%;
      margin-top: -15px;
      background: url(../images/icon_login.png) 0 0 no-repeat;
    }
    .header_login_btn:hover:before{
      background: url(../images/icon_login_hover.png) 0 0 no-repeat;
    }

  header .main_left{
    padding-top: 27px;
    border-bottom: 1px solid #e0e1e2;    
  }

  header .main_right{
    padding: 11px 0 0;
    font-size: 14px;
  }


/*=====================> Primary navigation ========================*/
.primary_nav{
  background: rgb(249,249,249); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(249,249,249,1) 0%, rgba(242,242,242,1) 50%, rgba(236,236,236,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 50%,rgba(236,236,236,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 50%,rgba(236,236,236,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=1 ); /* IE6-9 */


}
  .primary_nav_border{
    border-right: 1px solid #fbfbfb;
  }

.menu_item{
  position: relative;
}
  .menu_link{
    font-size: 15px;
    display: block;
    text-decoration: none;
    padding: 9px 40px 12px 54px;
    position: relative;
    transition:none !important;
  }
    .menu_item.active .menu_link{
      color: #fff;
      font-weight: 600;
    }
    .hasUl .menu_link:after{
      position: absolute;
      display: block;
      width: 10px;
      height: 17px;
      background: url(../images/menu_arrow.png) 0 0 no-repeat;
      top: 50%;
      margin-top: -10px;
      right: 20px;
      content: "";
    }

    .active.menu_item{
      background: #000;
      transition: 1.5s;
    }  

    .menu_item[class*="menu_item_img"]:before{
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: "";
      visibility: hidden;
      opacity: 0;
    }

    .active.menu_item[class*="menu_item_img"]:before{
      content: "";
      visibility: visible;
      opacity: .5;
      transition: opacity 1.1s ease-in-out;
      -moz-transition: opacity 1.1s ease-in-out;
      -webkit-transition: opacity 1.1s ease-in-out;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
    }
    .active.menu_item.menu_item_img1:before{background: url(../images/kotel_img.jpg) 0 0 no-repeat;}
    .active.menu_item.menu_item_img2:before{background: url(../images/kotel_img2.jpg) 0 0 no-repeat;}
    .active.menu_item.menu_item_img3:before{background: url(../images/kotel_img3.jpg) 0 0 no-repeat;}
    .active.menu_item.menu_item_img4:before{background: url(../images/kotel_img4.jpg) 0 0 no-repeat;}
    .active.menu_item.menu_item_img5:before{background: url(../images/kotel_img3.jpg) 0 0 no-repeat;}
    .active.menu_item.menu_item_img6:before{background: url(../images/kotel_img.jpg) 0 0 no-repeat;}
    .active.menu_item.menu_item_img7:before{background: url(../images/kotel_img2.jpg) 0 0 no-repeat;}
    .active.menu_item.menu_item_img8:before{background: url(../images/kotel_img3.jpg) 0 0 no-repeat;}
    .active.menu_item.menu_item_img9:before{background: url(../images/kotel_img4.jpg) 0 0 no-repeat;}
    .active.menu_item.menu_item_img10:before{background: url(../images/kotel_img3.jpg) 0 0 no-repeat;}
    .active.menu_item.menu_item_img11:before{background: url(../images/kotel_img.jpg) 0 0 no-repeat;}
    
  
  .active .menu_link:after{
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .menu_link:hover:after,
  .current .menu_link:after,
  .active .menu_link:after{
    background-position: 0 105%;
  }
  .active .menu_link:after{
    background: url(../images/menu_arrow_b.png) 0 0 no-repeat !important;
  }
  .menu_link:hover,
  .current .menu_link,
  .active .menu_link{
    color: #008def;
  }
  
  .menu_item:after{
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    /*background: url(../images/menu_stripe.jpg) right 0 no-repeat #ebebeb;*/
    background-color: #ebebeb;
    width: 100%;
    content: "";
  }
  .menu_item .stripe_menu_top{
    visibility: hidden;
  }
  .menu_item:hover:after{
    background-color: #cbddf1;
  }
  .menu_item:hover .stripe_menu_top{
    visibility: visible;
    border-top: 1px solid #cbddf1;
    position: absolute;
    width: 100%;
    left: 0;
    top: -1px;
  }

    .sub_menu{
      z-index: 2;
      position: relative;
      display: none;
      padding: 0 0 5px 70px;
    }
      .sub_menu_item{
        margin-bottom: 5px;
      }
      .sub_menu .sub_menu_link{
        text-decoration: none;
        font-size: 14px;
        color: #ff7e00;
      }
      .sub_menu_item .sub_menu_link:hover{
        color: #ffa200;
      }
      .sub_menu_item .sub_menu_link:focus{
        color: #fff;
      }

/*=====================> Content ========================*/
#content{
  padding:0px 0px 0px 0px; 
}
.cont_pad{padding:0 0 0 0 !important;}

/* ===== home =====*/
.home_carousel{
  /*max-height: 558px;*/
  min-height: 320px;
}

.extra_carousel{
  max-height: 685px;
}

.home_carousel .owl-pagination{
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
}

  .owl-page{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    opacity: .5;
    border-radius: 10px;
    cursor: pointer;
    vertical-align: middle;
    margin: 0 4px;
  }
  .owl-page:hover,
  .owl-page.active{
    background-color: #fff;
    opacity: 1;
    width: 14px;
    height: 14px;
  }

.home_carousel .owl-buttons div{
  width: 24px;
  height: 32px;
  bottom: 25px;
  position: absolute;
  cursor: pointer;
}



  .home_carousel .owl-buttons .owl-prev{
    left: 51px;
    background: url(../images/prev_icon1.png) 0 0 no-repeat;
  }
  .home_carousel .owl-buttons .owl-next{
    right: 51px;
    background: url(../images/next_icon1.png) 0 0 no-repeat;
  }
  .home_carousel .owl-buttons .owl-prev:hover{
    background: url(../images/prev_icon1_hover.png) 0 0 no-repeat;
  }
  .home_carousel .owl-buttons .owl-next:hover{
    background: url(../images/next_icon1_hover.png) 0 0 no-repeat;
  }

.stripe_left,
.stripe_right{
  position: absolute;
  bottom: 40px;
  height: 1px;
  background-color: #fff;
  opacity: .3;
  width: 426px;
}

  .stripe_left{
    left: 88px;
  }
  .stripe_right{
    right: 88px;
  }

.home_carousel_item{
  position: relative;
}

  .home_carousel_item img{
    width: 100%;
    height: auto;
  }

  .home_carousel_item_banner{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    text-align: right;
    padding: 85px 0 0 100px;
  }

  .banner_title{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 500;
    text-shadow: 0 0 133px rgba(255, 255, 255, 0.88);
    color: #50c8a0;
  }

  .download_pdf{
    color: #fff !important;
    padding: 23px 50px 26px 53px;
  }
    .download_pdf span{
      display: inline-block;
      padding: 0 0 0 47px;
      line-height: 1.2;
      background: url(../images/down_icon.png) 0 50% no-repeat;
    }

    .download_pdf:hover{
      background: #0872cd; /* Old browsers */
      background: -moz-linear-gradient(left,  #0872cd 0%, #098bd6 50%, #0b9ddd 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #0872cd 0%,#098bd6 50%,#0b9ddd 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #0872cd 0%,#098bd6 50%,#0b9ddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0872cd', endColorstr='#0b9ddd',GradientType=1 ); /* IE6-9 */
    }


.post_list_item{
  margin-bottom: 18px;
}

  .post_list_item a{
    border-bottom: 1px solid #d5e4ed;
    text-decoration: none;
  }
  .post_list_item a:hover{
    border-bottom: none;
  }

.main_feature_item{
  float: left;
  width: 25%;
  text-align: center;
  padding: 12px 20px 0;
  line-height: 1.2;
  min-height: 122px;
  border-left: 1px solid #efefef;
}

.main_features .main_feature_item:first-child{
  border-left: none;
}

  .main_feature_img{
    height: 55px;
    line-height: 55px;
    margin-bottom: 5px;
  }
    .main_feature_img img{
      vertical-align: middle;
    }

.action_carousel{
  height: 181px;
  background: #ff540c; /* Old browsers */
  background: -moz-linear-gradient(left,  #ff540c 0%, #ff810f 50%, #ffa303 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ff540c 0%,#ff810f 50%,#ffa303 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ff540c 0%,#ff810f 50%,#ffa303 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff540c', endColorstr='#ffa303',GradientType=1 ); /* IE6-9 */
  text-shadow: 0 0 133px rgba(255, 255, 255, 0.88);
  color: white;
  font-size: 34px;
  line-height: 1.3;
  font-weight: 700;
  position: relative;
}

  .action_item{
    padding: 40px 250px 53px 50px;
  }
  .products_box1.carousel{
    overflow: initial;
    margin-top: -12px;
  }
  .extra_carousel2{
    max-height: 561px;
    overflow: hidden !important;
  }
  .products_box1.carousel .product_item {
    padding-top: 22px;
  }
  /*.action_carousel .owl-pagination,*/
  .products_box1.carousel .owl-pagination{
    position: absolute;
    right: 80px;
    top: -96px;
    /*margin-top: -30px;*/
  }

  .action_carousel:before,
  .action_carousel:after{
    display: block;
    position: absolute;
    bottom: 0;
    height: 12px;
    width: calc(50% - 53px);
    background-color: #fff;
    content: "";
  }

  .action_carousel:before{
    left: 0;
  }
  .action_carousel:after{
    right: 0;
  }

  /*.action_carousel .owl-buttons div,*/
  .products_box1.carousel .owl-buttons div{
    width: 16px;
    height: 20px;
    position: absolute;
    top: -94px;
    /*margin-top: -15px;*/
  }
  .products_box1.carousel .owl-buttons div{
    
  }
  /*.action_carousel .owl-prev,*/
  .products_box1.carousel .owl-prev{
    right: 178px;
    background: url(../images/prev_icon1.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  /*.action_carousel .owl-next,*/
  .products_box1.carousel .owl-next{
    right: 50px;
    background: url(../images/next_icon1.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  /*.action_carousel .owl-prev:hover,*/
  .products_box1.carousel .owl-prev:hover{
    background: url(../images/prev_icon1_hover.png) 0 0 no-repeat;
     -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  /*.action_carousel .owl-next:hover,*/
  .products_box1.carousel .owl-next:hover{
    background: url(../images/next_icon1_hover.png) 0 0 no-repeat;
     -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }


.products_box1 .product_item{
  width: 33.3%;
  /*width: 100%;*/
  float: left;
}
/*.products_box1 .owl-item:first-child .product_item{
  border: none;
}*/
.product_item{
  padding: 10px 25px 20px;
  border-left: 1px solid #eee;
}
  .product_item figcaption{
    color: #0171b8;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    min-height: 46px;
  }
    .product_item figcaption a{
      text-decoration: none;
    }

  .product_item_img{
    position: relative;
    padding: 20px 0;
    height: 225px;
    text-align: center;
    line-height: 225px;
    margin-bottom: 52px;

  }
    .product_item_img img{
      vertical-align: middle;
    }

  .product_price{
    color: #ff5300;
    font-size: 17px;
    font-weight: 500;
  }



.box1{
  padding: 65px 10px 66px 50px;
}
.box2{
  padding: 60px 10px 66px 50px;
}
.sertificate_licenze{
  margin: 60px 10px 66px 50px;
  overflow: hidden;
  max-height: 408px;
}

.home_partners{
  background: url(../images/partner_bg.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.home_clients{
  background: url(../images/clients_bg.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.home_partners_box_wrap{
  white-space:nowrap;
}
  .home_partners_box{
    background: #fff;
    display: inline-block;
    margin-right: 29px;
    margin-bottom: 20px;
    width: 260px;
    height: 71px;
  }
  /*.fade.home_partners_box,
  .fade.home_partners_box a {
    width: 23.85321100917431%;
  }*/
  .flexslider.home_partners_box a{
    width: 100%;
    height: auto;
    padding-bottom: 100%;
    background-color: transparent !important;
  }
  .flexslider.home_partners_box a img{
    width: 100%;
    height: auto;
  }
  .home_partners_box:last-child{
    margin-right: 0;
    margin-bottom: 0;
  }

  .home_partners_box:hover,
  .sert_item:hover{
    opacity: 0.7;
  }

.sert_item{
  display: block;
  float: left;
  margin-right: 50px;
}

.content_inner{
  width: 100%;
  table-layout: fixed;
}


/*=====================> product page ========================*/
.breadcrums{
  font-size: 13px;
}
  .breadcrums a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    opacity: .8;
    vertical-align: middle;
  }
    .breadcrums a:after{
      display: inline-block;
      width: 6px;
      height: 11px;
      margin: 0 3px 0 9px;
      background: url(../images/breadcurm_arrow.png) 0 0 no-repeat;
      content: "";
    }

    .breadcrums a:last-child:after{
      display: none;
    }

.product_box{
  padding: 36px 0 0 100px;
  position: relative;
}
  .product_title,
  .lg_title{
    font-size: 700px;
    font-size: 44px;
    color: #0170c5;
    line-height: 1.2;
  }
  .product_title.indent_2{
    padding-right: 145px;
  }
 

  .main_poduct_img{
    width: 60%;
    padding: 55px 0 0;
    display: block!important;
    overflow: hidden;
  }
    .main_poduct_img img{
      /*max-width: 100%;*/
      width: auto;
      height: auto;
    }

.available{
  position: absolute;
  right: 0;
  top: 90px;
}
  .available span{
    background-color: #e1f7d9;
    display: inline-block;
    padding: 7px 50px 10px;
    color: #019e31;
    font-size: 15px;
    font-weight: 600;
  }

.product_page_price{
  background: #e8e8e8; /* Old browsers */
  background: -moz-linear-gradient(left,  #e8e8e8 0%, #f3f3f3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #e8e8e8 0%,#f3f3f3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #e8e8e8 0%,#f3f3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#f3f3f3',GradientType=1 ); /* IE6-9 */
  text-align: center;
  color: #ff5300;
  font-size: 27px;
  font-weight: 500;
  padding: 20px 20px 18px;
}
  .add_to_cart_btn{
    background: #ff5900; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff5900 0%, #ff8100 50%, #ff9200 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ff5900 0%,#ff8100 50%,#ff9200 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ff5900 0%,#ff8100 50%,#ff9200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5900', endColorstr='#ff9200',GradientType=1 ); /* IE6-9 */
    padding: 15px 20px;
    display: block;
    text-align: center;
    color: #fffefe;
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
  }
    .add_to_cart_btn:hover{
      background: #ff9300; /* Old browsers */
      background: -moz-linear-gradient(left,  #ff9300 0%, #ff7a00 50%, #ff5900 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #ff9300 0%,#ff7a00 50%,#ff5900 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #ff9300 0%,#ff7a00 50%,#ff5900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9300', endColorstr='#ff5900',GradientType=1 ); /* IE6-9 */
      color: #fff;
    }

  .buy_3_steps_btn{
    background-color: #f3f3f3;
    border: 1px solid #ff6100;
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(left,  #f0f0f0 0%, #f6f6f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f0f0f0 0%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f0f0f0 0%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 */
    display: block;
    text-align: center;
    color: #ff6300;
    font-weight: 400;
    padding: 10px 20px 12px;
    font-size: 17px;
    text-decoration: none;
  }
    .buy_3_steps_btn:hover{
      background: #fff;
      color: #ff6300;      
    }


.product_data{
  padding: 49px 49px 45px;
  border-left: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.data_list{

}
  .data_list li{
    margin-bottom: 15px;
    overflow: hidden;
  }

  .data_list li:last-child{
    margin-bottom: 0;
  }
    .data_label{
      font-size: 15px;
      float: left;
      display: inline-block;
      max-width: 150px;
      line-height: 1.1;
    }

    .data_value{
      line-height: 1.1;
      float: right;
      text-align: right;
      max-width: 80px;
    }


  .product_btn{
    display: block;
    background-color: #f3f3f3;
    font-size: 20px;
    color: #007dcd;
    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    font-size: 15px;
    text-decoration: none;
    padding: 9px 50px;
  }
    .product_btn span{
      display: inline-block;
      padding: 5px 20px 5px 38px;
    }
    .product_btn.compare span{
      background: url(../images/compare_icon.png) 0 50% no-repeat;
    }
    .product_btn.download span{
      background: url(../images/download_icon.png) 0 50% no-repeat;
    }

.product_gallery{
  /*border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;*/
}
  .product_gallery .owl-controls{
    display: none !important;
  }

  .product_gal_item{
    height: 200px;
    line-height: 200px;
    text-align: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 0.5px solid #ebebeb;
    border-right: 0.5px solid #ebebeb;
    position: relative;
  }

  .product_gal_item:after{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    content: "";
  }
   .product_gal_item a{
    position: relative;
    z-index: 1;
   }
  .product_gal_item.toggle{
    border: 1px solid #ff3600;
    position: relative;
  }
  .product_gallery,
  .product_gallery.owl-carousel .owl-wrapper-outer{
    padding-top: 8px;
    margin-top: -8px;
  }
  .product_gal_item.toggle:before,
  #fancybox-thumbs ul li.active:before{
    content: "";
    position: absolute;
    top: -8px;
    height: 7px;
    width: 73px;
    left: 50%;
    border: 1px solid #ff3600;
    border-bottom: none;
    background-color: #fff;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #fancybox-thumbs ul li.active a{
    border: 1px solid transparent;
  }
    .active .product_gal_item{
       /*border: 1px solid #ff3600;*/
    }
    .product_gal_item img{
      width: 100%;
      height: auto;
      vertical-align: middle;
    }

.product_detail_data{
  padding: 55px 0 0;
  border-bottom: 1px solid #ebebeb;
  background-color: #f5f5f5;
}
  .product_detail_box{
    background-color: #fff;
    
  }
 
  .detail_data_list li{
      overflow: hidden;
      padding: 14px 103px;
    }

    .detail_data_list li:nth-child(even){
      background-color: #f3f3f3;
    }

    .detail_data_label{
      float: left;
      width: 221px;
    }
    .detail_data_val{
      float: left;
      width: 140px;
      text-align: right;
      font-weight: 700;
    }

.product_text{
  padding-bottom: 100px;
}

.content_box{
  padding-left: 100px;
  padding-right: 100px;
}


.search_box{
  padding-top: 64px;
  padding-bottom: 82px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #eee;
}

  .search_box .product_to_comparison_link{
    margin-top: -50px;
  }

  .search_title{
    width: calc(100% - 170px);
  }

  .search_res_btn{
    border: 1px solid rgba(255, 104, 0, 0.25);
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: #fd4100;
    padding: 12px 34px 10px;
    cursor: pointer;
    background: none;
    margin: 19px 0 0;
  }

    .search_res_btn:before{
      width: 22px;
      height: 22px;
      margin: -3px 5px 0 0;
      vertical-align: middle;
      display: inline-block;
      background: url(../images/res_icon.png) 0 0 no-repeat;
      content: "";
    }

    .search_res_btn:hover{
      background-color: #fff;
    }

.range_box{
  border-bottom: 1px solid #f1e9e4;
  padding: 0 0 29px;
  width: 98%;
}
  .range_item{
    width: 210px;
    float: left;
    margin-left: 50px;
    padding-right: 0px;
  }
  .range_box .range_item:first-child{
    margin-left: 0;
  }
  .range_box .range_item:last-child{
    margin: 28px 0 0 0;
  }

  .label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .range_fields_wrap .txt_field{
    width: 50%;
    float: left;
  }

  .checkboxes .title4{
    font-weight: bold;
    font-size: 17px;
  }
  
  .sm_checkbox_col{
    float: left;
    width: 130px;
  }
    .checkbox_item{
      cursor: pointer;
      display: block;
      margin-bottom: 15px;
    }

    .checkbox_item:hover .jq-checkbox{
      border: 1px solid #ffae52;
    }
    .checkbox_item:hover{
      /*color: #ff6a00;*/
      color: #DD4E00;
    }
    .checkbox_item .jq-checkbox.checked{
      border: 1px solid #FF6500;
    }

.catalog_inner .product_item{
  padding-top: 16px;
  position: relative;
  border-right: 1px solid #eee !important;
  border-left: none;
  border-bottom: 1px solid #eee !important;
}
.products_box1.catalog_inner{
  margin-right: -2px; 
}
.content_inner .catalog_inner .product_item{
  width: calc(33.3% + 0.3px);
}

  .product_description{

  }

  .product_action > div{
    float: left;
  }
/*catalog page*/
.catalog_inner .product_item:hover{
  box-shadow: inset 1px 1px 0 #ff5a00, inset -1px -1px 0 #ff5a00;
}
.catalog_inner .product_item:hover .product_item_block_item_btn_add_cart{
  transform: translateX(0);
}
.catalog_inner .product_item:hover .product_item_block_item_btn_comparison,
.catalog_inner .product_item:hover .product_item_block_item_btn_comparison2{
  transform: translateY(0);
  transition-delay: 0.1s;
}

.catalog_inner .product_item:hover .product_item_img img{
  opacity: 0.5;
}

  .product_item_block_item{
    position: absolute;
    top: 10px;
    line-height:18px;
    text-align: left; 
    overflow: hidden;
  }

    .product_item_block_item_btn_add_cart,
    .product_item_block_item_btn_comparison,
    .product_item_block_item_btn_comparison2{
      font-size: 17px;
      min-width: 178px;
      text-align: center;
      text-decoration: none; 
      padding: 11px 0 13px 0; 
      display: inline-block;
      margin-bottom: 10px;
    }

    .product_item_block_item_btn_add_cart{
      transform: translateX(-190px);
      color: #fff;
      background: -moz-linear-gradient(left, #ff4200 0%, #ff6b00 100%);
      background: -webkit-linear-gradient(left, #ff4200 0%,#ff6b00 100%);
      background: linear-gradient(to right, #ff4200 0%,#ff6b00 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4200', endColorstr='#ff6b00',GradientType=1 );
    }
    .product_item_block_item_btn_add_cart:hover{
      background: #ff4a00; /* Old browsers */
      background: -moz-linear-gradient(left,  #ff4a00 0%, #ff7a00 50%, #ff9800 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #ff4a00 0%,#ff7a00 50%,#ff9800 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #ff4a00 0%,#ff7a00 50%,#ff9800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4a00', endColorstr='#ff9800',GradientType=1 ); /* IE6-9 */
      color: #fff;
    }

    .product_item_block_item_btn_comparison{
      transform: translateY(150px);
      background: #f0f0f0;
    }

    .product_item_block_item_btn_comparison2{
      transform: translateY(150px);
      background: #0273cb; /* Old browsers */
      background: -moz-linear-gradient(left, #0273cb 0%, #0296d8 100%);
      background: -webkit-linear-gradient(left, #0273cb 0%,#0296d8 100%);
      background: linear-gradient(to right, #0273cb 0%,#0296d8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0273cb', endColorstr='#0296d8',GradientType=1 );
      color: #fff;
    }
    .product_item_block_item_btn_comparison2:hover{
      background: #0982ec; /* Old browsers */
      background: -moz-linear-gradient(left,  #0982ec 0%, #0d9ff0 50%, #0fb6f4 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #0982ec 0%,#0d9ff0 50%,#0fb6f4 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #0982ec 0%,#0d9ff0 50%,#0fb6f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0982ec', endColorstr='#0fb6f4',GradientType=1 ); /* IE6-9 */
      color: #fff;
    }

.product_action{
  height: 22px;
  width: 100%;
}

.product_action span{
  margin: 0;
  float: left;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  display: block;
  font-weight: 500;
}
.product_action [data-text-new]:before{
  content: attr(data-text-new);
  padding: 3px 10px; 
  background: -moz-linear-gradient(left, #1599ea 0%, #3fbeff 100%);
  background: -webkit-linear-gradient(left, #1599ea 0%,#3fbeff 100%);
  background: linear-gradient(to right, #1599ea 0%,#3fbeff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1599ea', endColorstr='#3fbeff',GradientType=1 );
} 

.product_action [data-text-sale]:before{
  content: attr(data-text-sale);
  padding: 3px 10px;
  background: -moz-linear-gradient(left, #ff6800 0%, #ff7510 100%);
  background: -webkit-linear-gradient(left, #ff6800 0%,#ff7510 100%);
  background: linear-gradient(to right, #ff6800 0%,#ff7510 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6800', endColorstr='#ff7510',GradientType=1 );
}

.product_action [data-text-interest]:before,
.product_action [data-text-interest-black]:before{
  content: attr(data-text-interest);
  padding: 3px 10px;
  background: #ebebeb;
  color: #ff5400;
}
.product_action [data-text-interest-black]:before{
  content: attr(data-text-interest-black);
  padding: 3px 10px;
  color: #252525;
}

.pagination{
  text-align: center;
  padding: 20px 49px 25px;
}

  .pagination_lk_prev,
  .pagination_lk_next{
    display: block;
    width: 37px;
    height: 54px;
  }
  .pagination_lk_prev{
    float: left;
    background: url(../images/catalog_arrow_prev.png)  0 0 no-repeat;    
  }
  .pagination_lk_next{
    background: url(../images/catalog_arrow_next.png)  0 0 no-repeat;
    float: right;    
  }

  .pagination_list {
    display: inline-block;
  }

  .pagination_list_item{
    float: left;
  }

  .pagination_list_link{ 
    font-size: 18px;
    line-height: 47px;
    text-decoration: none;
    width: 49px;
    display: inline-block;
    background: #f4f4f4;
    color: #0066a6;
    margin: 0 4px;
    font-weight: bold;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
    
    .pagination_list_link:hover,
    .pagination_list_link.active{
      color: #fff;
      background: #ff4900; /* Old browsers */
      background: -moz-linear-gradient(left,  #ff4900 0%, #ff5b00 50%, #ff6d00 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #ff4900 0%,#ff5b00 50%,#ff6d00 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #ff4900 0%,#ff5b00 50%,#ff6d00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4900', endColorstr='#ff6d00',GradientType=1 ); /* IE6-9 */
    }

.product_img_figure{
  position: relative;
}    

  .product_img_figure_item{
    position: absolute;
    color: #fff;
    font-size: 44px;
    top: 55px;
    left: 100px;
    font-weight: bold;
  }

/*catalog page end*/

/*comparions page*/
.comparison_box{
  padding: 45px 0 0 0; 
  background-color: #f2f2f2;
  float: left;
  width: 29.4%;
}

  .comparison_box_left{
    float: left;
    width: 255px;
    padding-left: 50px;
  }

    .comparison_box_left .title2{
      font-size: 34px;
      border-bottom: 1px solid #dddddd;
      padding-bottom: 9px; 
    }
    .comparison_box_left_text{
      font-size: 19px;
      padding-top: 8px;
      display: inline-block; 
    }

  .comparison_box_right_wrapper{
    padding-top: 45px; 
    background: #f2f2f2;
    width: 70.5%;
    overflow: hidden;
  }
  .comparison_box_right{
    width: 100%; 
    background: #f2f2f2;
    overflow: hidden;
    float: left;
  }

    .comparison_box_right_max_width{
      max-height: 763px !important;
      white-space: nowrap;
    }

    .comparison_box_right_item{
      width: 165px;
      /*float: left;*/
      display: inline-block;
      margin: 0 0 0 -4px;
      white-space: normal;
    }
    .comparison_box_right_item:first-child{
      margin-left: 0;
    }

    .comparison_box_right_item_img{
      height: 138px;
      line-height: 138px;
      position: relative;
      background: #f5f5f5;
    }

    .comparison_box_right_item_img img{
      vertical-align: middle;
    }

    .comparison_box_right_item_text{
      font-size: 13px;
      width: 129px;
      display: inline-block;
    }

    .scroll-pane{
      overflow: auto;
    }

.comparison_detail_data{
  padding: 10px 0 0;
}

  .tables_boxes_show_item:nth-child(even) .detail_data_table_item:nth-child(odd){
    background-color: #f2f2f2;
  }
  .tables_boxes_show_item:nth-child(even) .detail_data_table_item:nth-child(even){
    background-color: #FFF;
  }
  .comparison_box_right_item_list_item:nth-child(even){
    background-color: #f2f2f2;
  }
  .comparison_box_right_item_list_item:nth-child(odd){
    background-color: #FFF;
  }

  .detail_data_table{
    width: 100%;
    font-size: 15px;
    background: #ffffff;
    margin-top: 75px;
    display: inline-block;
    color: #5c5c5c;
  }
    
    .comparison_box_left_list{
      width: 256px;
    }
    .comparison_box_right_item_list{
     width: 100%;
     margin-top: 45px;  
    }
    .detail_data_table_item,
    .comparison_box_right_item_list_item{
      padding: 14px 10px 14px 50px;
      display: inline-block;
      width: 100%;
    }
    .comparison_box_right_item_list_item{
      padding: 14px 10px 14px 0;
    }

    .detail_data_table_item:nth-child(even){
      background-color: #f2f2f2;
    }

    .detail_data_table_item td{
      width: 17%;
      display: inline-block;
    }  

    .detail_data_table_item td:nth-child(1){
      width: 26.6%;
      color: #5c5c5c;
    }



/*comparions page end*/

/*finder page*/

.finder_border{
  padding-bottom: 10px;
  border-bottom: 1px solid #f1e9e4;
}

/*comparions page end*/



/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}
.mb1{ margin-bottom:1px;}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}
.mb41{ margin-bottom:41px;}
.mb42{ margin-bottom:42px;}
.mb43{ margin-bottom:43px;}
.mb44{ margin-bottom:44px;}
.mb45{ margin-bottom:45px;}
.mb46{ margin-bottom:46px;}
.mb47{ margin-bottom:47px;}
.mb48{ margin-bottom:48px;}
.mb49{ margin-bottom:49px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}
.mb52{ margin-bottom:52px;}
.mb53{ margin-bottom:53px;}
.mb54{ margin-bottom:54px;}
.mb55{ margin-bottom:55px;}
.mb58{ margin-bottom:58px;}
.mb60{ margin-bottom:60px;}
.mb62{ margin-bottom:62px;}
.mb75{ margin-bottom: 75px;}


/*=====================> Lists ========================*/
.list1{}
.list1 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1 a{}

.list2{}
.list2 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3 a{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1{
  font-size: 42px;
  font-weight: bold;
  line-height: 1.2;
}

.title2{
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
}

.title3{
  font-size: 24px;
}

.title4{
  font-size: 18px;
}

/*================================>> GOOGLE FONTS  <<========================================*/


.fw_500{
  font-weight: 500;
}

.fz_15{
  font-size: 15px;
}
.fz_14{
  font-size: 14px;
}
.pt_sans{font-family: 'PT Sans', sans-serif;}

/*================================>> hovers <<========================================*/
a,
.owl-page{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover,
.owl-page:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
.txt_field{
  margin:0;
  border: 1px solid #d4d4d4;
  padding:9px 15px 10px;
  outline:none;
  position:relative;
  background:#fcfcfc;
  color: #777;
  font-size: 14px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  .txt_field:hover,
  .popup_form_input:hover{
    border: 1px solid #ffae52 !important;
    color: #373737 !important;
    box-shadow: inset 1px 1px 15px #f1f1f1, inset -1px -1px 15px #f1f1f1; 
  }
  .txt_field:focus,
  .popup_form_input:focus{
    border: 1px solid #FF6A01 !important;
    color: #000 !important;
  }
  input::-webkit-input-placeholder{
      transition: all 0.5s ease;
      color: #777 !important;
  }
  input::-moz-placeholder{
      transition: all 0.5s ease;
      color: #777 !important;
  }
  input:-moz-placeholder{
      transition: all 0.5s ease;
      color: #777 !important;
  }
  input:-ms-input-placeholder{
      transition: all 0.5s ease;
      color: #777 !important;
  }

  input:hover::-webkit-input-placeholder {
      transition: all 0.5s ease;
      color: #373737 !important;
  }
  input:hover::-moz-placeholder{
      transition: all 0.5s ease;
      color: #373737 !important;
  }
  input:hover:-moz-placeholder{
      transition: all 0.5s ease;
      color: #373737 !important;
  }
  input:hover:-ms-input-placeholder{
      transition: all 0.5s ease;
      color: #373737 !important;
  }

  input:focus::-webkit-input-placeholder {
      transition: all 0.5s ease;
      color: #000 !important;
  }
  input:focus::-moz-placeholder{
      transition: all 0.5s ease;
      color: #000 !important;
  }
  input:focus:-moz-placeholder{
      transition: all 0.5s ease;
      color: #000 !important;
  }
  input:focus:-ms-input-placeholder{
      transition: all 0.5s ease;
      color: #000 !important;
  }
  /*===  input end    ===*/


.form_row{
  margin-bottom: 11px;
}

.msg_field{
  overflow:auto;
  height:115px;
  resize:none;
  margin: 0 0 0 0;
}

#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
}
.adress dt{ margin-bottom:14px;}

/*================================>> Footer <<========================================*/
footer {
  padding: 46px 0;
  line-height: 18px;
  border-top: 1px solid #ebebeb;
  font-size: 14px;
  width: 100%;
  min-width: 1096px;
  position: relative;
  z-index: 100;
  background-color: #FFF;
  
}

  .footer_inner{
    padding-left: 98px;
  }

  [class^="footer_col"]{
    float: left;
  }

  .footer_col_1{
    width: 21%;
  }

  .footer_col_2{
    width: 33.5%;
    padding: 0 0 0 70px;
  }

  .footer_col_3{
    width: 23%;
    padding: 0 0 0 4px;
  }

  .footer_col_4{
    width: 22.5%;
    padding: 0 0 0 45px;
  }

  .client_list li{
    margin-bottom: 13px;
  }

.footer_work_time{
  padding: 0 0 0 47px;
  background: url(../images/phone_icon.png) 1px 4px no-repeat;
}
  .footer_work_time .phone_item{
    margin-right: 0px;
    padding-right: 0px;
  }

  .footer_work_time{
    font-size: 13px;
  }

.footer_address{
  background: url(../images/location_icon.png) 4px 3px no-repeat;
  padding: 0 0 0 47px;
}

.social{
  overflow:hidden;
}
.social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
.social a:first-child{margin: 0 0 0 0;}
.social a:hover img{
  margin-top:-32px;
}

/*============================= Easy responsive tabs ============================*/


.resp-tabs-list li {
    float: left;
    display: inline-block;
  }
.basket_box .resp-tabs-list li {
 
    font-size: 18px;
   
}
.basket_box .resp-tabs-list li:first-child{
    border-left:1px solid #e0e0e0;
}
.content_inner .basket_box.resp_card .resp-tabs-list li{
  width: 27%;
  padding: 13px 10px;
  text-align: center;
}
.basket_box .resp-tabs-list li.resp-tab-active{
  
}

h2.resp-accordion {
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-easy-accordion  h2.resp-accordion {
        display: block;
}

.resp-tab-content-active {
    display: block;
}


@media only screen and (max-width: 768px) {
    /*ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    
    .resp-accordion-closed {
        display:none !important;
    }*/
    
}


/*============================ Arctic modal =============================*/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/* ========================== OWL CAROUSEL =============================*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-touch-action: pan-y;
}
.carousel{
  overflow: hidden;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.scale_carousel.owl-carousel .owl-stage-outer,
.scale_carousel.owl-carousel .owl-stage,
.scale_carousel.owl-carousel .owl-item{
  max-height: 500px !important;
}
.scale_carousel.owl-carousel .owl-stage{
  position: relative;
}
.scale_carousel.owl-carousel .owl-item{
  /*display: inline-block;*/
  vertical-align: middle;
  /*float: none;*/
}
.scale_carousel.owl-carousel .owl-stage:before{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: inline-block;
  margin-left: -5px;
  vertical-align: middle;
  width: 1px;
  visibility: hidden;
  content: "";
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

@media only screen and (max-width: 1200px) {
  .header_links a{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
  }

  .sert_item{
    margin-right: 30px;
  }
}

/*------------------  PopUp registration & authorization  ------------------*/
.mb20{margin-bottom: 20px;}
.login_block{
  width: 730px;
  background: #fff;
}
.tabs{
  min-height: 356px;
}

.login_tab_list{
  width: 100%;
}
  .login_tab_list li.ubuntu_font{
    font-weight: 500;
    font-size: 30.5px;
    line-height: 46px;
    width: 50%;
    padding: 20px 0;
    cursor: pointer;
    text-align: center;
    color: #b7b7b7; /* #ff4200;*/
    background: #efefef;
    border: 1px solid #e2e2e2;
  }
  .login_tab_list .resp-tab-item.resp-tab-active{
    color: #ff4200;
    background: #fff;
    border: 1px transparent;
    font-weight: 600;
  }
.login_tab_container{
  
}
.popup_login_form{
  padding: 50px;
}
  .popup_form_label{
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    padding: 13px 0;
  }
  .popup_form_input{
    color: #000; 
    font-size: 18px; 
    font-weight: 400;
    outline: none;
    border: 1px solid #d4d4d4;
    background: #fcfcfc;
    padding: 10px 32px 12px;
  }
  .popup_form_input1{
    width: 521px;
  }
  .popup_form_input2{
    width: 469px;
  }
  input.popup_form_input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease; color: #9f9f9f; font-size: 16px; font-weight: 400;}/* сдвиг placeholder-а вправо при фокусе*/
  input.popup_form_input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease; color: #9f9f9f; font-size: 16px; font-weight: 400;}
  input.popup_form_input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease; color: #9f9f9f; font-size: 16px; font-weight: 400;}
  input.popup_form_input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease; color: #9f9f9f; font-size: 16px; font-weight: 400;}
  input.popup_form_input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
  input.popup_form_input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
  input.popup_form_input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
  input.popup_form_input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

.back_link{
  text-decoration: none;
  font-size: 19px;
  line-height: 42px;
  font-weight: 600;
  color: #fff;
  padding: 6px 53.6px;
}
.backgr_blue{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0577d5+0,08ace5+100 */
  background: #0577d5; /* Old browsers */
  background: -moz-linear-gradient(left,  #0577d5 0%, #08ace5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #0577d5 0%,#08ace5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #0577d5 0%,#08ace5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0577d5', endColorstr='#08ace5',GradientType=1 ); /* IE6-9 */

}

  .backgr_blue:hover{
    background: #0982ec; /* Old browsers */
    background: -moz-linear-gradient(left,  #0982ec 0%, #0d9ff0 50%, #0fb6f4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #0982ec 0%,#0d9ff0 50%,#0fb6f4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #0982ec 0%,#0d9ff0 50%,#0fb6f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0982ec', endColorstr='#0fb6f4',GradientType=1 ); /* IE6-9 */
  }


.login_link{
  text-decoration: none;
  font-size: 19px;
  line-height: 42px;
  font-weight: 600;
  color: #fff;
  padding: 6px 205.5px;
}
.backgr_orange{
  background: #ff4200; /* Old browsers */
  background: -moz-linear-gradient(left,  #ff4200 0%, #ff6b00 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ff4200 0%,#ff6b00 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ff4200 0%,#ff6b00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4200', endColorstr='#ff6b00',GradientType=1 ); /* IE6-9 */

}
  .backgr_orange:hover{
    background: #ff4a00; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff4a00 0%,#ff9800 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ff4a00 0%,#ff9800 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ff4a00 0%,#ff9800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4a00', endColorstr='#ff9800',GradientType=1 ); /* IE6-9 */
  }

.registr_title{
  font-size: 23px;
  color: #ff4200;
  margin: -10px 0 30px;
    text-align: center;
}
.popup_form_checkbox_block{
  width: 521px;
  padding-left: 52px;
  margin: -20px 50px 30px 12px;
}
.popup_checkbox_span{
  font-size: 14px;
}
  .popup_form_checkbox{
    text-align: left;
  }
.back_link2{
  text-decoration: none;
  font-size: 19px;
  line-height: 42px;
  font-weight: 600;
  color: #fff;
  padding: 6px 64.4px;
}
.login_link2{
  text-decoration: none;
  font-size: 19px;
  line-height: 42px;
  font-weight: 600;
  color: #b3b3b3;
  background: #e3e3e3;
  padding: 6px 163px;
}
.popup_form_checkbox:checked a.login_link2{
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5a00+1,ff9100+100 */
  background: #ff5a00; /* Old browsers */
  background: -moz-linear-gradient(left,  #ff5a00 1%, #ff9100 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ff5a00 1%,#ff9100 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ff5a00 1%,#ff9100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff9100',GradientType=1 ); /* IE6-9 */
}
.back_link:hover,
.back_link2:hover,
.login_link:hover{
  color: #fff;
}

/*------------------  PopUp ORDER  ------------------*/
.order_block{
  background: #fff; 
  width: 730px;
  height: 300px;
}
  .order_block_content{
    padding: 72px 103px 40px;
  }
    .order_title{
      font-size: 44px;
      line-height: 44px;
      color: #ff4200;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .order_info{}
    .back_product,
    .back_basket{
      font-size: 19px;
      line-height: 42px;
      color: #fff;
      font-weight: 600;
    }
      .back_product:hover,
      .back_basket:hover{
        color: #fff;
      }
    .back_product{
      padding: 11px 96px;
      text-decoration: none;
    }
    .back_basket{
      padding: 11px 92.5px;
      text-decoration: none;
    }

.image_wrapper{
  margin-bottom: 40px;
}
.content_box_text{
  font-size: 14px;
  letter-spacing: 0.2px; 
}
.content_box2{
  padding-right: 236px;
}
