.voyti,
.kupit{
	display: inline-block;
	margin: 20px;
	background: #f3f3f3;
	color: #ff3c00;
	font-size: 20px;
	padding: 15px 20px;
}


/*------------------  PopUp registration & authorization  ------------------*/
.mb20{margin-bottom: 20px;}
.login_block{
	width: 730px;
	background: #fff;
}
.tabs{
	min-height: 356px;
}

.login_tab_list{
	width: 100%;
}
	.login_tab_list li.ubuntu_font{
		font-weight: 500;
		font-size: 30.5px;
		line-height: 46px;
		width: 50%;
		padding: 20px 0;
		cursor: pointer;
		text-align: center;
		color: #b7b7b7; /* #ff4200;*/
		background: #efefef;
		border: 1px solid #e2e2e2;
	}
	.login_tab_list .resp-tab-item.resp-tab-active{
		color: #ff4200;
		background: #fff;
		border: 1px transparent;
		font-weight: 600;
	}
.login_tab_container{
	
}
.popup_login_form{
	padding: 50px;
}
	.popup_form_label{
		font-size: 18px;
		font-weight: 600;
		line-height: 20px;
		padding: 13px 0;
	}
	.popup_form_input{
		color: #000; 
		font-size: 18px; 
		font-weight: 400;
		outline: none;
		border: 1px solid #d4d4d4;
		background: #fcfcfc;
		padding: 10px 32px 12px;
	}
	.popup_form_input1{
		width: 521px;
	}
	.popup_form_input2{
		width: 469px;
	}
	input.popup_form_input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease; color: #9f9f9f; font-size: 16px; font-weight: 400;}/* сдвиг placeholder-а вправо при фокусе*/
	input.popup_form_input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease; color: #9f9f9f; font-size: 16px; font-weight: 400;}
	input.popup_form_input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease; color: #9f9f9f; font-size: 16px; font-weight: 400;}
	input.popup_form_input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease; color: #9f9f9f; font-size: 16px; font-weight: 400;}
	input.popup_form_input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
	input.popup_form_input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
	input.popup_form_input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
	input.popup_form_input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

.back_link{
	font-size: 19px;
	line-height: 42px;
	font-weight: 600;
	color: #fff;
	display: block;
	width: 35.75%;
	text-align: center;
	padding: 6px 20px !important;
}
.backgr_blue{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0577d5+0,08ace5+100 */
	background: #0577d5; /* Old browsers */
	background: -moz-linear-gradient(left,  #0577d5 0%, #08ace5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #0577d5 0%,#08ace5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #0577d5 0%,#08ace5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0577d5', endColorstr='#08ace5',GradientType=1 ); /* IE6-9 */

}

.login_link{
	font-size: 19px;
	line-height: 42px;
	font-weight: 600;
	color: #fff;
	padding: 6px 20px 6px !important;
	width: 64.25%;
	max-height: 54px;
	text-align: center;
	display: inline-block;
}
.backgr_orange{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5a00+1,ff9100+100 */
	background: #ff5a00; /* Old browsers */
	background: -moz-linear-gradient(left,  #ff5a00 1%, #ff9100 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #ff5a00 1%,#ff9100 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #ff5a00 1%,#ff9100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff9100',GradientType=1 ); /* IE6-9 */

}

.registr_title{
	font-size: 23px;
	color: #ff4200;
	margin: -10px 0 30px;
    text-align: center;
}
.popup_form_checkbox_block{
	width: 521px;
	padding-left: 52px;
	margin: -20px 50px 30px 12px;
}
.popup_checkbox_span{
	font-size: 14px;
}
	.popup_form_checkbox{
		text-align: left;
	}
.back_link2{
	font-size: 19px;
	line-height: 42px;
	font-weight: 600;
	color: #fff;
	padding: 6px 64.4px;
}
/*.login_link2{
	font-size: 19px;
	line-height: 42px;
	font-weight: 600;
	color: #b3b3b3;
	background: #e3e3e3;
	padding: 6px 163px;
	border: none;
}*/
.popup_form_checkbox:checked a.login_link2{
	color: #fff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5a00+1,ff9100+100 */
	background: #ff5a00; /* Old browsers */
	background: -moz-linear-gradient(left,  #ff5a00 1%, #ff9100 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #ff5a00 1%,#ff9100 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #ff5a00 1%,#ff9100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff9100',GradientType=1 ); /* IE6-9 */
}
.back_link:hover,
.back_link2:hover,
.login_link:hover,
.login_link2:hover{
	color: #fff;

}

/*------------------  PopUp ORDER  ------------------*/
.order_block{
	background: #fff;	
	width: 730px;
	height: 300px;
}
	.order_block_content{
		padding: 72px 103px 40px;
	}
		.order_title{
			font-size: 44px;
			line-height: 44px;
			color: #ff4200;
			font-weight: 600;
			margin-bottom: 20px;
		}
		.order_info{}
		.back_product,
		.back_basket{
			font-size: 19px;
			line-height: 42px;
			color: #fff;
			font-weight: 600;
		}
			.back_product:hover,
			.back_basket:hover{
				color: #fff;
			}
		.back_product{
			padding: 11px 96px;
		}
		.back_basket{
			padding: 11px 92.5px;
		}




button.notActive{
	cursor: default;
}

button.notActive:hover{
	color: #fff;
}

.reg_btn_wrap{
	margin-left: -50px;
	margin-right: -50px;
	margin-bottom: -50px;
}

.popup_form_checkbox_block{
	margin-top: 30px !important;
}

button{
	border: none;
	cursor: pointer;
}