
.basket_box{
	margin-bottom: 60px;
}
	.basket_tb{
		width:100%;
		table-layout: fixed;
		background-color: #fff;
	}
		.basket_tb tr{
			border-bottom:1px solid #ebebeb;
		}
		.basket_tb th{
			padding: 30px 0 10px;
		}
		.basket_tb td{
			padding: 24px 0;
			text-align: center;
			vertical-align: middle;
		}
		.basket_tb .cell1{
			width: 6%;
		}
		.basket_tb .cell2{
			width:20%;
		}
		.basket_tb .cell2 >div{
			padding:0;
			height: 140px;
			overflow: hidden;
		}
			.basket_tb .cell2 img{
				max-height: 100%;
				width: auto;
			}
	.basket_tb .cell3{
		width:26%;
	}
	.basket_tb td.cell3{
		padding: 15px 20px 15px 0;
	}
	.basket_tb td.cell3{
		text-align: left;
	}
	.basket_tb .cell4{
		width:16%;
	}
	.basket_tb .cell5{
		width:16%;
	}
	.basket_tb .cell6{
		width:16%;
	}

		.basket_num_inp{
			background-color: #fcfcfc;
			color: #000;
			padding: 10px 15px;
			border:1px solid #e2e2e2;
			font-family: 'PT Sans', sans-serif;
			font-size: 13.5;
			color: #000;
		}
		.basket_num_inp.txt_field{
			width: 105px;
			margin-left: 30px;
		}
.basket_tlt_inner{
	font-size: 16px;
	color: #000;
	display: inline-block;
	line-height:1.2;
	margin-left: 30px;
	margin-top: 24px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
}
.basket_box .title1{
	padding:60px 0 0 98px;
}
	.basket_cost, .basket_total_cost{
		font-size: 16px;
		font-weight: 500;
	}
	.basket_cost{
		padding-left: 17px;
	}
	.basket_total_cost{
		padding-left: 21px;
	}
	.basket_prd_name{
		text-decoration: none;
		display: inline-block;
		margin-bottom: 10px;
	}
.total_cost_box{
	float: right;
	width: 50%;
	margin-top: -1px;
}
	.order_total_cost{
		font-size: 26.6px;
		padding: 20px 0;
		border-top:1px solid #ff5300;
		display: inline-block;
		width: calc(100% - 188px);
	}
	.total_cost_box > span:first-child{
		display: inline-block;
		width: 180px;
		color: #9e9e9e;
		font-size: 13.5px;
		padding: 37px 10px 0;
	}
	.order_total_cost_lk{
		display: inline-block;
		background: #ff5400; /* Old browsers */
	    background: -moz-linear-gradient(left,  #ff5400 0%, #ff6f00 100%); /* FF3.6-15 */
	    background: -webkit-linear-gradient(left,  #ff5400 0%,#ff6f00 100%); /* Chrome10-25,Safari5.1-6 */
	    background: linear-gradient(to right,  #ff5400 0%,#ff6f00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5400', endColorstr='#ff6f00',GradientType=1 ); /* IE6-9 */
		color: #fff;
		text-decoration: none;
		font-size: 19px;
		line-height: 22px;
		padding: 13.5px 35.8px;
		margin-top: 8px;
	}
	.order_total_cost_lk span{
		font-size: 22px;
	}
	.order_total_cost_lk:hover{
		background: #ff4a00; /* Old browsers */
	    background: -moz-linear-gradient(left,  #ff4a00 0%, #ff9800 100%); /* FF3.6-15 */
	    background: -webkit-linear-gradient(left,  #ff4a00 0%,#ff9800 100%); /* Chrome10-25,Safari5.1-6 */
	    background: linear-gradient(to right,  #ff4a00 0%,#ff9800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4a00', endColorstr='#ff9800',GradientType=1 ); /* IE6-9 */
		color: #fff;
	}
	.order_total_arrow{
		display: inline-block;
		margin: 4px 10px 0;
		width: 10px;
		height: 16px;
		background: url(../images/arrow_white.png) 0% 0% no-repeat;
	}
.product_to_comparison_link2{
	margin-top: -25px;
}
/*----------- Basket tabs----*/
.basket_box .resp-tabs-list{
  margin: 0 0px 0 100px;
}
.basket_box .resp-tabs-list li {
    padding: 13px 66px;
    border-top:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
    color: #8b8b8b;
    font-size: 18px;
    line-height: 1.5;
    cursor: pointer;
}
.basket_box .resp-tabs-list li:first-child{
    border-left:1px solid #e0e0e0;
}
.basket_box .resp-tabs-list li.resp-tab-active{
  background-color: #fff;
  border-bottom:1px solid #fff;
  border-top:1px solid #fff;
  border-left:1px solid #fff!important;
  color: #006cc3;
}
/*---------------fancybox-----------*/
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	/*width: 1244px !important;*/
	/*max-width: 1096px !important;*/
	position: fixed !important;
	width: 100% !important;
	top: 0 !important;
	left: 0 !important;
	/*right: 0 !important;*/
	bottom: 239px !important;
	z-index: 8020;
	text-align: center;
	margin: auto;
}

.fancybox-skin {
	/*padding: 60px!important;*/
	padding: 100px 60px !important;
	/*position: relative;*/
	/*position: absolute;
	left: 0;
	right: 0;*/
	/*background: #f9f9f9;*/
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	width: 100% !important;
	max-height: 726px;
	height: 100% !important;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	/*-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);*/
}

.fancybox-outer, .fancybox-inner {
	/*position: relative;*/
}

.fancybox-inner {
	overflow: hidden;
	margin: auto;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	/*background-image: url('../images/icons/fancybox_sprite.png');*/
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	/*background: url('fancybox_loading.gif') center center no-repeat;*/
}

.fancybox-close {
	position: absolute;
	top: 0px;
	right: 17px;
	width: 156px;
	height: 63px;
	cursor: pointer;
	z-index: 8040;
	background: url(../images/fancybox-close.jpg) 0 0 no-repeat;
}
.fancybox-close:hover{
	opacity: 0.8;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 60px;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
/*	background: transparent url('blank.gif'); /* helps IE */*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}
.fancybox-prev:hover span{
	background-position: 0 top;
}
.fancybox-next {
	right: 0;
}
.fancybox-next span{
	background-position: right top !important;
}
.fancybox-next:hover span{
	background-position: right bottom !important;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 65px;
	width: 41px;
	margin-left: -20px;
	margin-top: -32.5px;
	cursor: pointer;
	z-index: 8040;
	/*visibility: hidden;*/
	background: url(../images/fancy_arrow.png) 0 bottom no-repeat;
}

.fancybox-prev span {
	/*left: 10px;*/
	/*background-position: 0 -36px;*/
}

.fancybox-next{
	right: 20px;
	/*right: 10px;*/
	/*background-position: 0 -72px;*/
}

.fancybox-nav:hover span {
	/*visibility: visible;*/
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background-color: rgba(255, 255, 255, 0.8);
	/*width: 100% !important;
	height: 100% !important;*/
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	/*overflow: auto;*/
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('../images/icons/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	/*#fancybox-loading div {*/
		/*background-image: url('fancybox_loading@2x.gif');*/
		/*background-size: 24px 24px; The size of the normal image, half the size of the hi-res image*/
	/*}*/*/
